<div id="channel_category">
	<ul>
		<li data-type="favorit" class="category">
			<a href="#">
				<span>Favorite</span>
			</a>
		</li>
		<li data-type="all" class="category">
			<a href="#">
				<span>All</span>
			</a>
		</li>
		<li data-type="music" class="category">
			<a href="#">
				<span>Music</span>
			</a>
		</li>
		<li data-type="movis" class="category">
			<a href="#">
				<span>Movies</span>
			</a>
		</li>
		<li data-type="news" class="category">
			<a href="#">
				<span>News</span>
			</a>
		</li>
		<li data-type="sport" class="category">
			<a href="#">
				<span>Sport</span>
			</a>
		</li>
		<li data-type="kids" class="category">
			<a href="#">
				<span>Kids</span>
			</a>
		</li>
	</ul>
</div>