<nav class="main">
	<ul>
		<li id="tv" class="blue tv hover">
			<a href="#" >
				<div class="a-block">
					<span class="ico">:</span>
					<p>Listen</p>
				</div>
			</a>
		</li>
		<li id="music" class="amyth headset hover">
			<a href="#">
				<div class="a-block">
					<span class="ico">0</span>
					<p>Listen</p>
				</div>
			</a>
		</li>
		<li id="gamepad" class="md-blue gamepad hover">
			<a href="#" >
				<div  class="a-block">
					<span class="ico">></span>
					<p>Listen</p>
				</div>
			</a>
		</li>
		<li id="map" class="pomigranit map hover">
			<a href="#" >
				<div class="a-block">
					<span class="ico">n</span>
					<p>Listen</p>
				</div>
			</a>
		</li>
		<li id="calander" class="yellow calander hover">
			<a href="#" >
				<div class="a-block">
					<span class="ico">Ġ</span>
					<p>Listen</p>
				</div>
			</a>
		</li>
		<li id="wifi" class="turqoise wifi hover">
			<a href="#" id="howitworks">
				<div class="a-block">
					<span class="ico">r</span>
					<p>Watch</p>
				</div>
			</a>
		</li>
		<li id="setting" class="red setting hover">
			<a href="#" id="profiles2">
				<div class="a-block">
					<span class="ico">V</span>
					<p>Play</p>
				</div>
			</a>
		</li>
		<li id="twittir" class="orange twittir hover">
			<a href="#" id="lifestyleChoices2">
				<div class="a-block">
					<span class="ico">t</span>
					<p>Watch</p>
				</div>
			</a>
		</li>
		<li id="facebook" class="green facebook hover">
			<a href="#" id="greenMain">
				<div class="a-block">
					<span class="ico">v</span>
					<p>Watch</p>
				</div>
			</a>
		</li>
	</ul>
</nav>