<nav class="vmain main">
	<ul>
		<li id="vtv" class="blue tv hover">
			<a href="#" >
				<div class="a-block">
					<span class="ico">:</span>
					<p>Listen</p>
				</div>
			</a>
		</li>
		<li id="vheadset" class="amyth headset hover">
			<a href="#">
				<div class="a-block">
					<span class="ico">0</span>
					<p>Listen</p>
				</div>
			</a>
		</li>
		<li id="vgamepad" class="md-blue gamepad hover">
			<a href="#" >
				<div  class="a-block">
					<span class="ico">></span>
					<p>Listen</p>
				</div>
			</a>
		</li>
		<li id="vmap" class="pomigranit map hover">
			<a href="#" >
				<div class="a-block">
					<span class="ico">n</span>
					<p>Listen</p>
				</div>
			</a>
		</li>
		<li id="vcalander" class="yellow calander hover">
			<a href="#" >
				<div class="a-block">
					<span class="ico">Ġ</span>
					<p>Listen</p>
				</div>
			</a>
		</li>
		<li id="vwifi" class="turqoise wifi hover">
			<a href="#">
				<div class="a-block">
					<span class="ico">r</span>
					<p>Watch</p>
				</div>
			</a>
		</li>
		<li id="vsetting" class="red setting hover">
			<a href="#" >
				<div class="a-block">
					<span class="ico">V</span>
					<p>Play</p>
				</div>
			</a>
		</li>
		<li id="vtwittir" class="orange twittir hover">
			<a href="#" >
				<div class="a-block">
					<span class="ico">t</span>
					<p>Watch</p>
				</div>
			</a>
		</li>
		<li id="vfacebook" class="green facebook hover">
			<a href="#">
				<div class="a-block">
					<span class="ico">v</span>
					<p>Watch</p>
				</div>
			</a>
		</li>
	</ul>
</nav>